<div class="moment" *ngIf="moment">
  <h1>{{moment.title}}</h1>
  <figure>
    <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">
  </figure>
  <div class="about-moment">
    <h3>Sobre esse momento:</h3>
    <p>{{moment.description}}</p>
  </div>
  <div class="actions">
    <h3>Ações:</h3>
    <a routerLink="/moments/edit/{{moment.id}}" class="btn-edit">
      <fa-icon [icon]="faEdit"></fa-icon> Editar
    </a>
    <button class="btn-remove">
      <fa-icon [icon]="faTimes"></fa-icon> Deletar
    </button>
  </div>
  <div class="comments">
    <h3>Comentários <small>({{moment.comments!.length}})</small></h3>
  </div>
</div>
